<div class="ui inverted top fixed menu">
  <div class="ui container">
    <a routerLink="/" class="header item">
      Okta Test App
    </a>
    <a class="btn btn-primary" *ngIf="!isAuthenticated" (click)="login()">Login</a>
    <a id="profile-button" class="btn btn-info" *ngIf="isAuthenticated" routerLink="/home">Home</a>
    <a class="btn btn-danger" id="logout-button" *ngIf="isAuthenticated" (click)="logout()">Logout</a>
  </div>
</div>

<div class="ui text container" style="margin-top: 7em;">
  <router-outlet></router-outlet>
</div>